/*
// =============================================================================
// 画面名：ログイン画面
// 
// -----------------------------------------------------------------------------
// （ファイル整形）Visual Studio Code : Shift + Alt + f 
// =============================================================================
*/

body {
    font-family: arial;
}

h3 {
    text-align: center;
}

button[type=button] {
    width: 100px;
}

button[type=submit] {
    width: 100px;
}