/*
// =============================================================================
// 画面名：Process Diagram Detail
// 
// -----------------------------------------------------------------------------
// （ファイル整形）Visual Studio Code : Shift + Alt + f 
// =============================================================================
*/
body{
  text-align: left !important;
}

input[type=text] {
  height: 25px !important;
  background-color: #cccccc6b;
  margin-top: 5px;
  width: 220px;
}

button[type=submit] {
  width: 100px;
  height: 40px;
  
}


#btn_description {
  width: 130px;
}


