<!-- // ============================================================================= -->
<!-- // 画面名：プロセス可視化チャート画面                                              -->
<!-- //                                                                               -->
<!-- // ============================================================================= -->
<!-- // （ファイル整形）Visual Studio Code : Shift + Alt + f                          -->
<!-- // ============================================================================= -->
<!DOCTYPE html>
<html dir="ltr" lang="ja">

<head>
    <title>Process Check</title>
    <meta charset="utf-8">
    <!-- ★キャッシュクリアのおまじない ################### -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- ★ ############################################### -->

    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"
        rel="stylesheet">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://tarruda.github.io/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Cmm_datatable.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ProcessCheck.css') }}">
    <script src="{{ url_for('static', filename='js/function.js') }}"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/comboTreePlugin.js') }} "></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ProcessCheck.css') }}">
    <style>
        #child1 {
            /* background-color: lightblue; */
        }

        #child2 {
            /* background-color: lightgreen; */
        }

        @media (min-width: 400px) {
            #parent {
                display: flex;
            }

            #child1 {
                flex-grow: 1;
            }

            #child2 {
                flex-grow: 1;
            }
        }
    </style>
</head>

<body onload="getProcessCheckInfo()">
    <!-- ★キャッシュクリアのおまじない ################### -->
    <div id="now"></div>
    <script type="text/javascript" src="../static/js/cacheProcessVisualization.js?p=(new Date()).getTime()"></script>
    <!-- ★ ############################################### -->

    <header class="l-header">
        <h1 class="l-header--logo"><span class="l-header__item--logo"><img src="/static/img/svg/logo.svg"
                    alt="NEC"></span><span class="l-header__txt--system">プロセス可視化チャート</span></h1>

        <div class="l-header--user">
            <div class="l-header--name"><label class="c-icon--user"><img src="/static/img/svg/icon_user.svg"
                        alt="user"></label><span>{{full_name}}</span></div>
            <div class="l-header--org">組織名:{{organization}}</div>
        </div>
        </div>
    </header>

    <form>
        <div class="l-content__block" style="margin:30px;">
            <div class=" l-content__item--title">
                <h3 class="l-content__heading--title">プロセス可視化チャート</h3>
            </div>
        </div>

        <div id="parent" style="margin:30px;">
            <div id="child1">
                <div style="text-align: left;">
                    <label>分類:</label>
                    <select style="width: 300px;" id='classification_code' name='classification_code'>
                        <option>Select</option>
                    </select>
                </div>

                <br>
                <div style="text-align: left;">
                    <label>作業項目:</label>
                    <div style="width: 400px;">
                        <input type="text" id="workitemID" autocomplete="off" name="workitemID" />
                    </div>

                </div>
            </div>

            <div style="width: 60%;" id="child2">
                <div style="text-align: left;">
                    <label>チャート種別：</label>
                    <div style="width: 600px;">
                        <select style="width: 300px;" id='chart_kind' name='chart_kind'>
                            <option selected>FlowChart</option>
                        </select>
                        <span>
                    </div>
                </div>
                <br>
                <div style="text-align: left;">
                    <label>作業名：</label>
                    <div style="width: 600px;">
                        <input style="width: 400px;" type="text" class="form-control" id="work_name" name="work_name">
                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" id="btn_register" class="btn btn-primary"
                                style="margin-top: -10px;">新規登録</button>
                        </span>
                    </div>
                </div>
                <input id="org1" name="org1" type="hidden" value="">
                <input id="org2" name="org2" type="hidden" value="">
            </div>
        </div>

        <hr style="margin:30px; width:95%">

        <div style="margin:30px;">
            <div class="l-content__box currentmonthinputlist__box">
                <table id="processCheckdata" class="display" class="cell-border"></table>
            </div>
        </div>
    </form>

    <!-- for js file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }} ">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.pt-BR.js') }} ">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/comboTreePlugin.js') }} "></script>
    <script type="text/javascript" src="../static/js/ProcessChartMain.js?　p=(new Date()).getTime()　"></script>
</body>

</html>
<!-- for js file -->