<!DOCTYPE html>
<html dir="ltr" lang="ja">

<head>
    <title>Chart Data Edit</title>
    <meta charset="utf-8">
    <!-- ★キャッシュクリアのおまじない ################### -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- ★ ############################################### -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"
        rel="stylesheet">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/ProcessCheckEditWindow.js') }}"></script>
    <script type="text/javascript">
        var url = new URL(window.location.href);
        var params = url.searchParams;
        var dataID = params.get('dataId')
        // 位置を設定する
        let element = document.getElementById('selectid');
        //element.value = dataID;
    </script>
    <script>
        $(document).ready(function () {
            $(window).on("beforeunload", function (e) {
                window.opener.focus();
            });
        });

        // 親画面の存在確認
        // 存在しなかったら次画面（子画面）を閉じる
        if (!window.opener || window.opener.closed) {
            window.close();
        } else {
            // 親画面を取得
            var parentWindowObject = window.opener;
        }

    </script>

</head>

<body onload="onloadProcessEditWindow()">
    <div class="container-fluid">
        <br />
        <table style="margin-top: -12px;">
            <tr>
                <th style="width: 50px;">
                    <p style="margin-top: 10px;">位置：</p>
                </th>
                <th style="width: 150px;">
                    <label style="margin-top: 0px; font-size: large; color: blue;" id="location_id"></label>
                </th>
                <th style="width: 200px;">
                </th>
                <th style="width: 150px;">
                    <button type="button" class="btn btn-primary" style="width: 80px; height:35px;"
                        id="updateDataButton" name="updateDataButton" onclick="updateButtonClick()">更新</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary" style="width: 100px; height:35px;"
                        id="cancelDataButton" name="cancelDataButton" onclick="cancelButtonClick()">キャンセル</button>
                </th>
                <th style="width: 80px;">
                </th>
                <th>
                    <button type="button" class="btn btn-danger" style="width: 80px; height:35px;" id="deleteDataButton"
                        name="deleteDataButton" onclick="deleteButtonClick()">削除</button>
                </th>
            </tr>
        </table>

        <hr style="height: 3px; background-color: blue; margin-top: 0px;">
        <table class="table" style="margin-top: -10px;">
            <tr>
                <td colspan="2">
                    <p>コメントコード</p>
                    <select class='form-control' id="comment_code" onchange="commentCode_onchange()">
                        <option value="0000">新規作成</option>
                    </select>
                </td>
                <td colspan="2">
                    <p>コメントコード（新規入力時）</p>
                    <input type="text" id="new_comment_code" class="form-control"
                        style="height:35px;background-color:yellow;" readonly />
                </td>
                <td>
                    <p>&nbsp;</p>
                    <button type="button" class="btn btn-success" style="height:33px;" id="clearDataButton"
                        onclick="clearData()">クリア</button>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <p>見出し</p>
                    <input type="text" class="form-control" style="width: 743px;height:35px;" maxlength="50" value=""
                        id="heading" />
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <p>説明</p>
                    <textarea id="explaination" style="width: 743px;height: 70px;" maxlength="800"></textarea>
                </td>
            </tr>

        </table>

        <table class="table" style="margin-top: -13px;">
            <tr style="line-height: 0;">
                <td>
                    <p>効率可否</p>
                    <select class='form-control' id="efficiency" name="efficiency">
                        <option value="">Select</option>
                        <option value="0">効率可－不可</option>
                        <option value="1">効率可－可能</option>
                    </select>
                </td>

                <td colspan="3">
                    <p>例外時の作業項目</p>
                    <input type="text" class="form-control" style="width: 543px;height:35px;" value=""
                        id="ExceptionWork" />
                </td>
            </tr>

            <tr>
                <td width="200px">
                    <p>操作対象等</p>
                    <select class='form-control' id="OperationTarget">
                        <option value="">Select</option>
                        <option value="別システム">別システム</option>
                        <option value="メール">メール</option>
                        <option value="ミーテイング">ミーテイング</option>
                        <option value="資料作成">資料作成</option>
                        <option value="調整・調査">調整・調査</option>
                    </select>
                </td>
                <td rowspan="2">
                    <p>補足説明, 参考資料等</p>
                    <textarea style="width:543px;height: 130px;" id="SupplementComment"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <p>作業時間</p>
                    <select class='form-control' id="working_hour">
                        <option value="0">Select</option>
                        <option value="5">5分</option>
                        <option value="10">10分</option>
                        <option value="15">15分</option>
                        <option value="20">20分</option>
                        <option value="25">25分</option>
                        <option value="30">30分</option>
                        <option value="60">60分</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>
<!-- for js file -->